name: Generar APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Buildozer Action
        uses: Nicklas-S-S/buildozer-action@v1
        with:
          command: buildozer android debug
          repository_root: .

      - name: Subir APK
        uses: actions/upload-artifact@v4
        with:
          name: APK_Terminada
          path: bin/*.apk
